In [1]:
import pandas as pd

In [2]:
file = 'budget_data.csv'

In [3]:
budget_df = pd.read_csv(file)
budget_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503